<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Remove .html extension from URLs -->
        <rule name="Remove .html extension" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Add .html extension internally -->
        <rule name="Add .html extension" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
        
        <!-- Handle root/index/home -->
        <rule name="Home page" stopProcessing="true">
          <match url="^$|^index$|^home$" />
          <action type="Rewrite" url="home.html" />
        </rule>
        
        <!-- Specific page mappings -->
        <rule name="Documentation" stopProcessing="true">
          <match url="^documentation$" />
          <action type="Rewrite" url="documentation.html" />
        </rule>
        
        <rule name="Terms" stopProcessing="true">
          <match url="^terms$" />
          <action type="Rewrite" url="terms.html" />
        </rule>
        
        <rule name="Privacy" stopProcessing="true">
          <match url="^privacy$" />
          <action type="Rewrite" url="privacy.html" />
        </rule>
        
        <rule name="Admin" stopProcessing="true">
          <match url="^admin$" />
          <action type="Rewrite" url="admin.html" />
        </rule>
        
        <rule name="Blacklist" stopProcessing="true">
          <match url="^blacklist$" />
          <action type="Rewrite" url="blacklist.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="home.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

